<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<application
		android:name="com.clevertap.android.sdk.Application"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:usesCleartextTraffic="true">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
			android:exported="true"
			android:hardwareAccelerated="true"
			android:launchMode="singleTask"
			android:theme="@style/LaunchTheme"
			android:windowSoftInputMode="adjustResize"
			tools:node="merge">
			<!--
			Specifies an Android theme to apply to this Activity as soon as
			the Android process has started. This theme is visible to the user
			while the Flutter UI initializes. After that, this theme continues
			to determine the Window background behind the Flutter UI.
			-->
			<intent-filter android:autoVerify="true" >
    			<action android:name="android.intent.action.VIEW" />
   				<category android:name="android.intent.category.DEFAULT" />
   				<category android:name="android.intent.category.BROWSABLE" />
   				<data android:scheme="http" />
   				<data android:scheme="https" />
				<data android:scheme="ezrx" />
				<data android:host="uat-my.ezrxplus.com" />
				<data android:host="uat-sg.ezrxplus.com" />
				<data android:host="uat-ph.ezrxplus.com" />
				<data android:host="uat-th.ezrxplus.com" />
				<data android:host="uat-kh.ezrxplus.com" />
				<data android:host="uat-tw.ezrxplus.com" />
				<data android:host="uat-mm.ezrxplus.com" />
				<data android:host="uat-vn.ezrxplus.com" />
				<data android:host="uat-vns.ezrxplus.com" />
				<data android:host="uat-vnm.ezrxplus.com" />
				<data android:host="uat-vnp.ezrxplus.com" />
				<data android:host="uat-id.ezrxplus.com" />
				<data android:host="uat-kr.ezrxplus.com" />
				<data android:host="uat-hk.ezrxplus.com" />
			</intent-filter>

		</activity>
	</application>
</manifest>
